<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width">
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  {% seo %}
  {% include favicon.html %}
  <title>Shyam Mohan Kanojia - Ruby on Rails Developer Hyderabad</title>
  <meta name="description" content="Ruby on rails developer from Hyderabad, India.
  He loves to develop web application & mobile apps. Shyam loves to deliver solutions for startup." />
  <meta name="keywords" content="ror, freelancer, website development,website design, ruby on rails website development, ruby on rails development, ruby on rails, website developers , website designers, ruby on rails developer hyderabad, ruby on rails web development, website design and development, rails development, ruby on rails development company, user interface design, software development" />
  <meta name="author" content="Shyam Mohan Kanojia">
  <link rel="shortcut icon" type="image/ico" href="/favicon.ico" />
  <!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
  <script src="/js/jquery.min.js"></script>
  <script src="/js/jquery.scrolly.min.js"></script>
  <script src="/js/skel.min.js"></script>
  <script src="/js/init.js"></script>
  <noscript>
    <link rel="stylesheet" href="{{ site.baseurl }}/css/skel.css" />
    <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css" />
    <link rel="stylesheet" href="{{ site.baseurl }}/css/style-desktop.css" />
  </noscript>
  <!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
  <!--[if lte IE 9]><link rel="stylesheet" href="css/ie/v9.css" /><![endif]-->
</head>
